.div {
  height: 500px;
  color: var(--bright-text);
}

.tag-container {
  display: flex;
  list-style: none;
}

.tag {
  color: var(--regular-color);
  margin: 4px 8px;
}

.tag:hover {
  color: whitesmoke;
  transition: 0.1s;
}

.project {
  color: #ffffff;
  border: 1px pink solid;
}

.project img {
  width: 256px;
  height: 144px;
  /* width: 250px;
  height: 250px;
  overflow: hidden;
  object-fit: cover; */
}