.about-section {
  padding: 60px 20%;
}
.about-title {
  color: var(--bright-text);
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.about-desc {
  color: whitesmoke;
  text-align: center;
}
.location-tag {
  display: flex;
  align-items: center;
  color: var(--bright-text);
}
.location-tag img {
  height: 24px;
}

