* {
  font-family: "Roboto", sans-serif;
  color: blanchedalmond;
  background: #473e53;
}

header {
  background: #2e2836;
  padding: 0px, 50px;
}
footer {
  background: #2e2836;
}

project {
  border: 2px solid #f3f3f3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
