* {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg);
  color: #00eeff;
}

:root {
  --dark-bg: #0b0c10;
  --light-bg: #1f2833;
  --regular-text: #c5c6c7;
  --bright-text: #b8e9f1;
  --regular-color: #45a29e;
}

main {
  border: 1px rgb(195, 0, 255) solid;
  height: 100%;
}

.top-spacing {
  padding-top: 20%;
  padding-bottom: 10vh;
}

.bg-light {
  background-color: var(--light-bg) !important;
}

.bg-dark {
  background-color: var(--dark-bg) !important;
}