* {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg);
  scroll-behavior: smooth;
}

:root {
  --dark-bg: #222730;
  --light-bg: #1f2833;
  --regular-text: #c5c6c7;
  --bright-text: #b8e9f1;
  --regular-color: #94bdce;
  scroll-behavior: smooth;
}

.bg-light {
  background-color: var(--light-bg) !important;
}

.bg-normal {
  background-color: var(--light-bg) !important;
}

.bg-dark {
  background-color: var(--dark-bg) !important;
}